.header-logo {
    height: 40px; /* Ajusta la altura de la imagen */
    width: auto;  /* Mantén la proporción de la imagen */
    margin-left: 10px; /* Espacio a la izquierda */
    display: block;
    cursor: pointer;  /* Cambia el cursor para indicar que es clicable */
  }
  