.header-logo {
    height: 40px; 
    width: auto;  
    margin-left: 10px; /* Espacio a la izquierda */
    display: block;
    cursor: pointer;  /* Cambia el cursor para indicar que es clickeable */
  }
  