<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/img/mob3.jpg" alt="Logo" class="header-logo">
    </ion-buttons>
    <ion-title class="header-title">
      Hola!
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="custom-button" [routerLink]="['/pag2']">
        Iniciar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenida</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Card de bienvenida -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title class="TituloWelcome">¡Bienvenido a Nutrición en Consciencia!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nos alegra tenerte en nuestra comunidad. Nuestra app te ayuda a crear recetas saludables 
      con los ingredientes que ya tienes en casa, haciendo tu alimentación fácil y placentera. 
      Explora nuestras funciones y disfruta de una dieta equilibrada sin complicaciones. 
      ¡Estamos aquí para ayudarte en cada paso!
    </ion-card-content>
  </ion-card>

  <!-- Animación para el texto -->
  <div class="animated-text">
    <p>Explora nuevas recetas y consejos de nutrición</p>
  </div>

  <!-- Carrusel de imágenes con navegación horizontal -->
  <ion-slides pager="true" class="image-slider" options="slideOpts">
    <ion-slide>
      <img src="assets/img/emparedado.jpeg" alt="Receta 1" class="animated-image" href="www.google.com">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/pescado.jpeg" alt="Receta 2" class="animated-image">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/frutasavena.jpeg" alt="Receta 3" class="animated-image">
    </ion-slide>
  </ion-slides>
</ion-content>






