ion-header {
  --background: #8f448f !important; /* encabezado */
}

/* Estilo del contenido principal */
ion-content {
  --background: #a90e8d; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Para que el contenido quede repartido y el carrusel quede al final */
}

.header-title {
  font-size: 1.5rem; /* Tamaño de fuente */
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.header-logo {
  height: 40px; 
  width: auto;  
  margin-left: 10px; /* Espacio a la izquierda */
  display: block; /* Comportamiento en bloque */
}

.custom-button {
  background-color: #f2662b !important; 
  color: white !important;              
  border-radius: 20px;                  
  padding: 10px;                        /* Tamaño del botón */
  transition: background-color 0.3s ease; /* Animación de color de fondo */
}

.custom-button:hover {
  background-color: #e04d28; /* Color de fondo en hover */
}

.welcome-card {
  background-color: #e0ceda; /* Color de fondo del card */
  border-radius: 10px;       /* Esquinas redondeadas */
  padding: 15px;             /* Espaciado interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Animaciones */
.animated-text {
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-image {
  animation: bounceIn 2s ease-in-out;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Ajuste del carrusel*/
.image-slider {
  height: 150px;  
  margin-top: 20px; /* Espacio en la parte superior */
  margin-bottom: 30px; /* Espacio en la parte inferior */
  --bullet-background: #f2662b; 
  display: flex;
  justify-content: center; /* Centrar el carrusel horizontalmente */
  padding: 0 10px; /* Añadir espaciado horizontal para evitar se peguen a los bordes */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px; /* Espaciado interno */
}

img {
  width: 80%; /* Hacer las imágenes más pequeñas */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

/* Efecto zoom al pasar el cursor */
img:hover {
  transform: scale(1.1); /* Efecto de zoom al hacer hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Añadir sombra más pronunciada en el hover */
}


